<% if (!author) { %>
    <form id="registration" class="reg">
        <div>
            <h2 class="larger_ft">You are still here!?</h2>
            <p class="middle_ft">If you are here, then do not mind registering on the site so that you have more opportunities</p>
        </div>
        <div>
            <input type="text" autocomplete="off" name="nick" placeholder="Name">
            <input type="password" autocomplete="off" name="password" placeholder="Password">
            <button class="small_ft">Registration</button>
        </div>
    </form>
<% } %>
<div>
    <h2 class="large_ft">PHONE:</h2>
    <p class="small_ft">+372 65993</p>
    <p class="small_ft">+372 23948</p>
    <p class="small_ft">+372 03997</p>
</div>
<div>
    <h2 class="large_ft">MAIL:</h2>
    <p class="small_ft">muzlo@muz.com</p>
    <p class="small_ft">info@muz.com</p>
</div>
<div>
    <h2 class="large_ft">SOCIAL NETWORK: </h2>
    <p class="small_ft">Telegram: @muzlo</p>
    <p class="small_ft">Instagram: @muzlo1</p>
    <p class="small_ft">VK: @muzlo1</p>
</div>