<form id="add_row">
    <h2 class="large_ft">Add genre+</h2>
    <input type="text" name="title" placeholder="Title" autocomplete="off" required>
    <button>Add title</button>
    <p class="middle_ft error_text"></p>
</form>