<form id="add_row">
    <h2 class="large_ft">Add performer</h2>
    <input type="text" name="name" placeholder="Name" autocomplete="off" required>
    <input type="number" name="year" placeholder="Year" autocomplete="off" required>
    <textarea name="des" cols="30" rows="10" placeholder="Performer description"></textarea>
    <button>Add performer</button>
    <p class="middle_ft error_text"></p>
</form>