<% array.forEach(element => { %>
    <div class="list_obj update" id="<%= element.id %>" activate="off" form="track">
        <img src="../../<%= element.img %>" alt="">
        <p class="middle_ft text"><%= element.title %></p>
    </div>
<% }) %>