<form class="update_row">
    <h2 class="large_ft">Update genre</h2>
    <input type="text" name="title" placeholder="Name" autocomplete="off" required value="<%= genre.title %>">
    <div>
        <div class="delete" id="<%= genre.id %>">Delete</div>
        <button>Update genre</button>
    </div>
    
    <p class="middle_ft error_text"></p>
</form>