<form class="update_row">
    <h2 class="large_ft">Update Album</h2>
    <input type="text" name="title" placeholder="Name" autocomplete="off" required value="<%= track.title %>">
    <input type="text" name="album" list="albums" placeholder="Album name" autocomplete="off" required>
    <datalist id="albums">
        <% albums.forEach(element => { %>
            <option value="<%= element.title%>"></option>
        <% }) %>
    </datalist>
    <input type="text" name="id" value="<%= track.id %>" style="display: none;">
    <div>
        <div class="delete" id="<%= track.id %>">Delete</div>
        <button>Update album</button>
    </div>
    <p class="middle_ft error_text"></p>
</form>